<div class="chart_feeling">
  <canvas id="myDoughnutChart" width="400" height="400"></canvas>
  <p class="chart-title">今月の<br>感情グラフ</p>
</div>
<script>
  var ctx = document.getElementById('myDoughnutChart').getContext('2d');
  var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      datasets: [{
        label: 'データの数',
        data: [
          <%= @documents.current_happy.count %>,
          <%= @documents.current_angry.count %>, 
          <%= @documents.current_sorrow.count %>, 
          <%= @documents.current_normal.count %>, 
          <%= @documents.current_tired.count %>, 
        ],
        backgroundColor: [
          'rgba(246, 201, 14, 0.5)',
          'rgba(244, 124, 124, 0.5)',
          'rgba(112, 161, 215, 0.5)',
          'rgba(161, 222, 147, 0.5)',
          'rgba(170, 150, 218, 0.5)'
        ],
        borderColor: [
          'rgba(30, 86, 160)',
          'rgba(30, 86, 160)',
          'rgba(30, 86, 160)',
          'rgba(30, 86, 160)',
           'rgba(30, 86, 160)'
        ],
        borderWidth: 0.2
      }]
    },
    options: {
      title: {
        fontSize: 16,
        display: true,
        position: 'top',
        text: 'ドーナツ'
      },
    }
  });
</script>
