<h1>ユーザー情報</h1>
<p>画像</p>
<%= image_tag @end_user.get_profile_image(100,100) %>
<p>ユーザー名</p>
<%= @end_user.name %>

<%= link_to "お気に入り", end_user_favorites_path(current_end_user) %>



<% if @end_user.name != "guestuser" %>
  <%= link_to "編集", edit_end_user_path(@end_user), class: "btn btn-primary edit_user_#{@end_user.id}" %>
  <%= link_to "退会", end_user_confirm_path(@end_user), class: "btn btn-danger edit_user_#{@end_user.id}" %>
<% end %>

<h1>今月の投稿数</h1>
<%= current_end_user.documents.where('created_at > ?', Date.today.month).count %>

<h1>今までの投稿数</h1>
<%= current_end_user.documents.all.count %>

<h1>七日間の投稿数</h1>
<%= render 'public/end_users/line_chart', documents: @documents %>

<h1>1ヶ月の感情分析</h1>
<%= render 'public/end_users/doughnut_chart', documents: @documents %>
