<div class="container mt-4">
  <div class="row">
    <div class="col-6 offset-3 text-center">
      <h2 class="font-weight-bold">管理者ログイン</h2>
      <%= form_with model: @admin, url: admin_session_path do |f| %>
        <!--名前-->
        <div class="form-group text-left mt-3 col-8 offset-2">
          <%= f.label :email %><br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm" %>
        </div>
        <!--メールアドレス-->
        <div class="form-group text-left mt-3 col-8 offset-2">
          <%= f.label :password %><br>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-sm" %>
        </div>
        <!--ログインボタン-->
        <div class="form-group mb-5">
          <%= f.submit "ログイン", class: "btn btn-outline-primary rounded-pill w-50 mt-1" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
