<h1><%= l @document.created_at, format: :long %>の記録を編集</h1>
<div class=<%= "favorite-" + @document.id.to_s %> >
  <%= render 'public/favorites/btn', document: @document %>
</div>
<%= form_with model: @document do |f| %>
  <!--タグ投稿フォーム-->
  <h4>タグをつける</h4>
  <%= f.text_field :tag_name, value: @tag_list %>
  
  <!--感情ステータスを選択-->
  <h4>あの時の気持ち</h4>
  <%= f.select :feeling, Document.feelings.keys.map { |k| [I18n.t("enums.document.feeling.#{k}"), k]} %><br>
  
  <!--記録投稿フォーム-->
  <h4>記録の内容</h4>
  <%= f.text_area :content %><br>
  
  <%= f.submit "編集内容を保存", class: 'btn btn-success' %>
<% end %>

<%= link_to '詳細へ戻る', @document, class: "document_#{@document.id}" %> |
<%= link_to '一覧へ戻る', documents_path, class: "back" %>
