<h1>記録一覧</h1>
<% @documents.each do |document| %>
  <%= link_to document_path(document) do %>
    <div class="linkbox">
      <%= l document.created_at, format: :mon %><br>
      <%= l document.created_at, format: :daily %><br>
      <%= l document.created_at, format: :times %><br>

      <!--タグ-->
      <% document.tags.each do |tag| %>
        <%= tag.name %><br>
      <% end %>
      <!--お気に入り-->
      <div class=<%= "favorite-" + document.id.to_s %> >
        <%= render 'public/favorites/btn', document: document %>
      </div>
      <!--記録内容-->
      <%= document.content %>
    </div>
  <% end %>
<% end %>
