<h1>記録一覧</h1>
<% @documents.each do |document| %>
  <%= link_to document_path(document) do %>
    <div class="linkbox">
      <%= l document.created_at, format: :mon %><br>
      <%= l document.created_at, format: :daily %><br>
      <%= l document.created_at, format: :times %><br>
      <%= document.content %>
    </div>
  <% end %>
<% end %>
