<div class="container mt-4">
  <div class="row">
    <div class="col-6 offset-3 text-center">
      <h2 class="font-weight-bold">記録を書く</h2>

      <%= form_with model: @document_new do |f| %>
        <!--タグ投稿フォーム-->
        <div class="form-group text-left mt-3 col-8 offset-2">
          <%= f.label :tag_name, "タグをつけてください" %><br>
          <%= f.text_field :tag_name, autofocus: true, placeholder: "複数つける場合は,で区切ってください", class: "form-control form-control-sm" %>
        </div>
        <!--感情ステータスを選択-->
        <div class="form-group text-left mt-3 col-8 offset-2">
          <%= f.label :feeling, "今の気持ちを選んでください" %></br>
          <%= f.select :feeling, Document.feelings.keys.map { |k| [I18n.t("enums.document.feeling.#{k}"), k]},
              { prompt: false }, class: "form-control form-control-sm" %>
        </div>
        <!--記録投稿フォーム-->
        <div class="form-group text-left mt-3 col-8 offset-2">
          <%= f.label :content, "内容を書いてください" %><br>
          <%= f.text_area :content, class: "form-control form-control-sm" %>
        </div>
        <!--ボタン-->
        <div class="form-group mb-5">
          <%= f.submit "記録する", class: "btn btn-outline-info rounded-pill w-50 mt-1" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
