<!--エラーメッセージ-->
<%= render "public/shared/error_messages", resource: resource %>

<div class="container mt-4">
  <div class="row">
    <div class="col-6 offset-3 text-center">
      <h2 class="font-weight-bold">新規登録</h2>
      <p class="mt-2 mb-4">
        ゲストログインすることで<br>
        新規登録せずにお試しでサービスを使うことができます。
      </p>
      <!--入力フォーム-->
      <%= form_with model: @end_user, url: end_user_registration_path do |f| %>
        <!--名前-->
        <div class="form-group text-left mt-3 col-8 offset-2">
          <%= f.label :name %><br>
          <%= f.text_field :name, autofocus: true, placeholder: "20文字以内",
              class: "form-control form-control-sm" %>
        </div>
        <!--メールアドレス-->
        <div class="form-group text-left mt-3 col-8 offset-2">
          <%= f.label :email %><br>
          <%= f.email_field :email, autocomplete: "email", placeholder: "メールアドレス",
              class: "form-control form-control-sm" %>
        </div>
        <!--パスワード-->
        <div class="form-group text-left mt-3 col-8 offset-2">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上の半角英数字",
              class: "form-control form-control-sm" %>
        </div>
        <!--パスワード確認用-->
        <div class="form-group text-left mt-3 col-8 offset-2">
          <%= f.label :password_confirmation %><br>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "もう一度入力して下さい",
              class: "form-control form-control-sm" %>
        </div>
        <!--登録ボタン-->
        <div class="actions">
          <%= button_tag :type => "submit", :class =>"btn btn-outline-success rounded-pill w-50 mt-1" do %>
            <i class="fas fa-user-plus"></i> 新規登録
          <% end %>
        </div>
      <% end %>
      <!--ゲストログイン-->
      <%= link_to end_users_guest_sign_in_path, method: :post, class: "btn btn-outline-primary rounded-pill w-50 mt-3" do %>
        <div class="flex-colum mx-3 text_center">
          <i class="fas fa-user-check"></i> ゲストログイン
        </div>
      <% end %>
      <!--登録済みユーザーへの案内-->
      <div class="row text-center mt-4">
        <div class="col-12 col-md-10 offset-md-1 py-4">
          <h4 class="font-weight-bold">ユーザー登録がお済みの方</h4>
          <p><%= render "public/shared/links" %>からログインしてください。</p>
        </div>
      </div>
    </div>
  </div>
</div>
