<h2>新規登録</h2>

<%= form_with model: @end_user, url: end_user_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    (<%= @minimum_password_length %> 文字以上)
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<p>
  ユーザー登録がお済みでない方は<br>
  <%= render "public/shared/links" %>から新規登録を行ってください。
</p>
