<h2>ログイン</h2>

<%= form_with model: @end_user, url: end_user_session_path do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<p>
  新規登録がお済みでない方は<br>
  <%= render "public/shared/links" %>から新規登録を行ってください。
</p>