<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <% if end_user_signed_in? %>
        <li class="nav-item">
          <%= link_to "記録をつける", new_document_path, class: 'btn btn-primary' %>
        </li>
        <li class="nav-item">
          <%= link_to "記録を見る", documents_path, class: 'btn btn-primary' %>
        </li>
        <li class="nav-item">
          <%= link_to "ユーザー情報", end_user_path(current_end_user), class: 'btn btn-primary' %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete, class: 'btn btn-primary' %>
        </li>
      <% elsif admin_signed_in? %>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-primary' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "新規登録", new_end_user_registration_path, class: 'btn btn-primary' %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_end_user_session_path, class: 'btn btn-primary' %>
        </li>
        <li class="nav-item">
          <%= link_to "ゲストログイン", end_users_guest_sign_in_path, method: :post, class: 'btn btn-primary' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
